extends layout

block content
  .profile
    .name
      a(href="http://luke.precisionnutrition.com/members/cp-progress.php?u=5350", target="cp")
        | Joe Smith
    .collapsibleLink
        a(href="#") hide
    .details.hideable
      img.face(src="/images/profile.jpg")
      .data
        .age 29 years old
        .weight 225 lbs
        .joined Joined 01/01/13 
        .complaince
          a(href="#") 67% compliance